<div>
  <%= @news_wall.to_json %>
</div>

<div>
  <%= @Announcements.to_json %>
</div>

<div>
  <%= link_to 'Load More', root_path(page: @news_wall.next_page), remote: true %>
</div>

<%= paginate @news_wall %>
