<h1>Editing news wall</h1>

<%= render "form", news_wall: @news_wall %>

<br>

<div>
  <%= link_to "Show this news wall", @news_wall %> |
  <%= link_to "Back to news walls", news_walls_path %>
</div>
